langchain==0.0.331
llama-cpp-python==0.1.78
openai
transformers
# protobuf==3.20.0; sys_platform != 'darwin'
# protobuf==3.20.0; sys_platform == 'darwin' and platform_machine != 'arm64'
# protobuf==3.20.3; sys_platform == 'darwin' and platform_machine == 'arm64'
# auto-gptq==0.2.2
# unstructured

# Utilities
# urllib3==1.26.6
# accelerate
# bitsandbytes ; sys_platform != 'win32'
# bitsandbytes-windows ; sys_platform == 'win32'
# click
flask
flask-cors
requests

# Excel File Manipulation
# openpyxl
