# Natural Language Processing
langchain
llama-cpp-python
openai

# Utilities
urllib3==1.26.6
accelerate
bitsandbytes ; sys_platform != 'win32'
bitsandbytes-windows ; sys_platform == 'win32'
click
flask
flask-cors
requests
uWSGI
